html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* height: 100%; */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  background: linear-gradient(#0075ff, #39b8ff);
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: white;
  font-size: 5rem;
  padding-top: 4rem;
  margin-bottom: 3rem;
  cursor: pointer;
}

h2 {
  color: white;
  cursor: pointer;
}

/* SearchBar */

form {
  position: relative;
}

.form-input {
  width: 35rem;
  height: 5rem;
  border-radius: 10px;
  background-color: transparent;
  font-size: 2rem;
  color: white;
  padding-left: 4rem;
  font-family: "Montserrat", sans-serif;
}

.form-input::placeholder {
  color: white;
}

.form-input:focus {
  background-color: transparent;
  color: white;
}

.form-control-feedback {
  position: absolute;
  color: #fff;
  top: 1.5rem;
  left: 1rem;
}

/* WeatherCard */

.card-transparency {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 10px;
}

.img-size {
  width: 50%;
  margin: 2rem auto;
}

h3 {
  font-size: 7rem;
  margin-top: 1rem;
}

h4 {
  font-size: 4rem;
}

@media (min-width: 600px) {
  .form-input {
    width: 45rem;
  }

  .img-size {
    width: 30%;
    margin: 2rem auto;
  }
}

@media (min-width: 1000px) {
  .img-size {
    width: 19%;
    margin: 2rem auto;
  }
}

.error {
  color: white;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
